/* MENU */
.header-section{
    background: #cf9f30;
    padding: 30px 0;
}
.main-menu{
    margin-left:290px;
}
.main-menu ul li a{
    margin-left: 20px
}
.main-menu ul li a:hover{
    color: #f8de10;
}
/* MENU END */
/* BANNER */
.hero-section{
    height: 434px;
    margin-top: 80px;
}
.hero-text{
    text-align: center;
    padding-top: 200px;
    margin-left: 580px;
    /* margin-bottom: 105px; */
}
.banner-title{
    font-size: 50px;
    color: #ffffff;
    text-align: left;
    line-height: 50px;
}
.banner-subtitle{
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: 24px;
}
/* BANNER END */

/* peta */
font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;


/* peta end */



/* contactinfo */

.contactinfo{
    padding: 100px;
}
.contactinfo-title{
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 60px;
    letter-spacing: normal;
    text-align: Center;
    color: #4b4b4b;
}
.contactinfo-section .icon{
    font-size: 40px;
    text-align: center
}
.contactinfo-subtitle{
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.23;
	letter-spacing: normal;
	text-align: left;
	color: #4b4b4b;
  }

.contactinfo-caption{
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 60px;
    letter-spacing: normal;
    text-align: left;
    color: #a3a3a3;
}
.contactinfo-caption2{
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #a3a3a3;
}
/* contactinfo END */

