/* MENU */
.header-section{
    background: #cf9f30;
    padding: 30px 0;
}
.main-menu{
    margin-left:290px;
}
.main-menu ul li a{
    margin-left: 20px
}
.main-menu ul li a:hover{
    color: #f8de10;
}
/* MENU END */
/* BANNER */
.hero-section{
    height: 434px;
    margin-top: 80px;
}
.hero-text{
    text-align: center;
    padding-top: 200px;
    margin-left: 580px;
    /* margin-bottom: 105px; */
}
.banner-title{
    font-size: 50px;
    color: #ffffff;
    text-align: left;
    line-height: 50px;
}
.banner-subtitle{
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: 24px;
}
/* BANNER END */





/* contactinfo */

.contactinfo{
    padding: 100px;
}
.contactinfo-title{
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 60px;
    letter-spacing: normal;
    text-align: Center;
    color: #4b4b4b;
}
.contactinfo-section .icon{
    font-size: 40px;
    text-align: left
}
.contactinfo-subtitle{
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.23;
	letter-spacing: normal;
	text-align: left;
	color: #4b4b4b;
  }

.contactinfo-caption{
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 60px;
    letter-spacing: normal;
    text-align: left;
    color: #a3a3a3;
}
.contactinfo-caption2{
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #a3a3a3;
}
/* contactinfo END */
/*------------------
  Signup section
---------------------*/

.signup-section {
	background: #d82a4e;
	position: relative;
}

.signup-section .section-title {
	padding: 0;
	margin-bottom: 55px;
}

.signup-section .signup-bg {
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	top: 0;
	z-index: 1;
}

.signup-warp {
	padding: 0 100px;
}

.signup-form,
.contact-form {
	background: #fff;
	padding: 60px;
}

.signup-form input[type=text],
.signup-form input[type=email],
.signup-form textarea,
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
	height: 57px;
	width: 100%;
	padding: 0 30px;
	margin-bottom: 27px;
	float: left;
	border: none;
	font-size: 14px;
	font-weight: 500;
	background: #edf4f6;
}

.signup-form input[type=text]:focus,
.signup-form input[type=email]:focus,
.signup-form textarea:focus,
.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
	border-bottom: 2px solid #d82a4e;
}

.signup-form input[type=file],
.contact-form input[type=file] {
	display: none;
}

.signup-form textarea,
.contact-form textarea {
	padding-top: 23px;
	padding-bottom: 15px;
	height: 225px;
}

.signup-form .file-up-btn,
.contact-form .file-up-btn {
	display: block;
	background: #3e3e3e;
	color: #fff;
	max-width: 175px;
	padding: 13px 5px;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 23px;
	clear: both;
	text-align: center;
	overflow: hidden;
}

.signup-form .site-btn,
.contact-form .site-btn {
	padding: 17px 10px;
}

.featured-courses {
	padding-top: 67px;
}



