body{
    font-family: 'Helvetica';
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url("../../fonts/HelveticaNeue/HelveticaNeue-LightExt.woff");
    /* src: url("../../fonts/HelveticaNeue/HelveticaNeue.eot") format("eot"); */
    /* src:
    url("../../fonts/HelveticaNeue/HelveticaBlklt.woff") format("woff"),
    url("../../fonts/HelveticaNeue/HelveticaNeue-Black.woff") format("woff"),
    url("../../fonts/HelveticaNeue/HelveticaNeue-Heavy.woff") format("woff")
    url("../../fonts/HelveticaNeue/HelveticaNeue-LightExt.woff") format("woff"),
    url("../../fonts/HelveticaNeue/HelveticaNeue-Medium.woff") format("woff"),
    url("../../fonts/HelveticaNeue/HelveticaNeue-Thin.woff") format("woff"); */
}
.active{
    color: yellow !important;
}
.header-section {
    padding-top: 30px;
}
.main-menu{
    margin-left:290px;
}
.main-menu a{
    color: #ffffff;
}
.main-menu ul li a{
    margin-left: 20px
}
.main-menu ul li a:hover{
    color: #f8de10;
}

footer{
    background: #1c1c1c !important;
}
.footer-top{
    margin: 0 auto;
    padding-bottom: 60px;
}
.footer-bottom{
    display: none;
    background: #222222 !important;
}
.copyright {
    color: rgba(163, 163, 163, 1);
}
.footer-title{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    line-height: 25px;
}
.footer-content{
    font-size: 14px;
    font-weight: 300;
    color: #a3a3a3;
    text-align: left;
    line-height: 30px;
}
footer .icon{
    margin-right: 20px;
    color: #ffffff;
    font-size: 20px;
}
footer .icon a{
    color: #ffffff !important;
    font-size: 20px;
    padding-right: 20px;
}
footer .widget-item a{
    font-size: 14px;
    font-weight: 300;
    color: #f16132;
    text-align: left;
    line-height: 24px;
}
footer .widget-item{
    width: inherit;
}
footer .widget-item ul{
    padding: 0;
}
.footer-section{
    border: 0 !important
}