/* MENU */
.header-section{
    background: #1d548f;
    padding: 30px 0;
}
.main-menu{
    margin-left:290px;
}
.main-menu ul li a{
    margin-left: 20px
}
.main-menu ul li a:hover{
    color: #f8de10;
}
/* MENU END */


/* BANNER */
.hero-section{
    height: 434px;
    margin-top: 80px;
}
.hero-text{
    text-align: center;
    padding-top: 200px;
    margin-left: 580px;
    /* margin-bottom: 105px; */
}
.banner-title{
    font-size: 90px;
    color: #ffffff;
    text-align: left;
    line-height: 90px;
}
.banner-subtitle{
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: 24px;
}
/* BANNER END */


/* STUDENTS LINKS */

.students-links{
    padding: 100px;
}
.students-links-title{
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #4b4b4b;
}
.students-links .students{
    border-bottom: 1px solid #a3a3a3;
}
.students-links-recent-students{
    color: #4b4b4b;
    float: right;
    margin-top: 50px;
}
.students-links-studentstitle{
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #e66234;
}
.news-letter-caption{
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #a3a3a3;
}
.news-letter-caption2{
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #a3a3a3;
}

.Student-Links .icon{
    font-size: 80px;
    text-align: center
}


.Student-Links-section .categorie-item .ci-thumb {
    height: 426px;
}

/* Food menu */
.Body {
    background-color: #d8d5d5;
    padding: 100px 100px 100px 150px;
}
.food-menu-section{
    padding: 100px 0;
 }
 .food-menu-title{
     font-size: 50px;
     font-weight: 300;
     color: #4b4b4b;
     text-align: center;
     line-height: 60px;
 }
 .food-menu-section .categorie-item .ci-thumb {
     height: 426px;
 }
 
 /* ELEMENT OPACITY */
.Autumn-opacity{
    background: #ffa133;
    opacity: 0.8;
    width: 48%;
    height: 100%;
    right: 15px;
    position: absolute;
    padding: 30px 30px;
}
.Autumn-opacity-title{
    font-size: 25px;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
}
.Autumn-opacity-caption{
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    line-height: 26px;
}
.Autumn-opacity .btn-info{
    background: transparent;
    padding: 10px;
    border: 3px solid white;
    border-radius: 47px;
    text-align: center;
    color: white !important;
    width: 150px
}

.Summer-opacity{
    background: #ff3967;
    opacity: 0.8;
    width: 48%;
    height: 100%;
    right: 15px;
    position: absolute;
    padding: 30px 30px;
}
.Summer-opacity-title{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: 40px;
}
.Summer-opacity-caption{
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: 26px;
}
.Summer-opacity .btn-info{
    background: transparent;
    padding: 10px;
    border: 3px solid white;
    border-radius: 47px;
    color: white !important;
    width: 150px
}


.Healthy-opacity{
    background: #00baff;
    opacity: 0.8;
    width: 48%;
    height: 100%;
    right: 15px;
    position: absolute;
    padding: 30px 30px;
}
.Healthy-opacity-title{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: 40px;
}
.Healthy-opacity-caption{
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: 26px;
}
.Healthy-opacity .btn-info{
    background: transparent;
    padding: 10px;
    border: 3px solid white;
    border-radius: 47px;
    color: white !important;
    width: 150px
}


.Revised-opacity{
    background: #4acc05;
    opacity: 0.8;
    width: 48%;
    height: 100%;
    right: 15px;
    position: absolute;
    padding: 30px 30px;
}
.Revised-opacity-title{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: 40px;
}
.Revised-opacity-caption{
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: 26px;
}
.Revised-opacity .btn-info{
    background: transparent;
    padding: 10px;
    border: 3px solid white;
    border-radius: 47px;
    color: white !important;
    width: 150px
}
/* ELEMENT OPACITY END*/

 /* food menu end */


/* Extra curricular */
.search-section{
    /* background-color: mix(#fa4a3b, #e52f65); */
    color: #ffffff;
    background-image: url("http://localhost/jimboree-web/assets/img/extra/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 705px;
}

.Extra-Curricular-opacity{
    background-image: linear-gradient(to right, #e52f65 , #fa4a3b);
    opacity: 0.8;
    width: 100%;
    height: 705px;
    position: absolute;
    padding: 0 100px;
}
.search-section .container{
    padding: 0;
}
.search-section .icon{
    font-size: 40px;
    text-align: center
}
.search-title{
    margin-top: 80px;
    font-size: 50px;
    font-weight: lighter;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    position: relative;
}
.search-caption{
    font-size: 28px;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: 42px;
}
.search-caption2{
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: 30px;
}
.search-section a {
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
    line-height: 25px;
}
/* Extra curicullar end */

/* field trip section */

.field-trip{
    padding: 100px;
}

.fieldtrip-title{
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 60px;
    letter-spacing: normal;
    text-align: Center;
    color: #363434;
}
.field-trip-title{
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 60px;
    letter-spacing: normal;
    text-align: Center;
    color: #363434;
}
.field-trip-date{
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #a3a3a3;

}
.field-trip-caption{
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #a3a3a3;
}
.fieldtrip-subtitle{
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #4b4b4b;
}


/* field trip end */